/* tee hee hee */
@font-face {
  font-family: "Comic";
  src: url('fonts/comic.ttf');
  src: url('fonts/comic.ttf') format('truetype');
}

.column section {
  display: block;
  width: 11%;
  background-color: #ffb3b3;
  padding: 1px 0px 1px 0px;
  text-align: center;
  font-family: "Comic";
  float: left;
}

.column aside img {
  float: left;
  width: 100%;
  display: block;
}

.column2 {
  display: block;
  width: 11%;
  background-color: #b3ffb3;
  padding: 1px 0px 1px 0px;
  text-align: center;
  font-family: "Comic";
  float: left;
}
