/* tee hee hee */
@font-face {
	font-family: "Comic";
	src: url('fonts/comic.ttf');
	src: url('fonts/comic.ttf') format('truetype');
}

body {
 background-image: url("bg.png");
 background-color: #ffffff;
}

.first{
	width:11%;
	height:125px;
	position:absolute;
	background-color: #ffb3b3;
	text-align: center;
	border: 3px solid #cf8da6;
	border-radius: 3px
 }

.second{
	background-color: #86a0ff;
	width:11%;
	height:185px;
	position: relative;
	top: 115px;
	text-align: center;
	border: 3px solid #768dff;
	border-radius: 3px
	border-style: solid hidden hidden;
}
